.logoFont{
	font-family: 'Arizonia';
	font-weight: 900;
	font-style: italic;
	font-color: #cc3300;
}
.dir-row{
	display:flex;
	flex-direction: row;
}
.fx-left{
	align-content:left;
}
.flex-vertics{
	display:flex;
	flex-direction:column;
	
}
.fx-right{
	align-content:right;
}
.barFont{
	font-family: 'Alef';
	font-weight: 900;
	font-color: #cc3300;
}
.sameline{
	display:inline-block;
	border: 1px solid red;
	padding-left:2%;
	padding-right:2%;
	
}
.horizontal-center{
  display:flex;
  justify-content:center;
}


.sm-margin-left{
  margin-left:1px;
}
.contmaxwidth{
	max-width:1500px;
}
.marge016{
	margin:0 -16px;
}
.wdth65{
	width:65%;
}
.wdth80{
	width:80%;
}
.wall01{
	background-image: url('/images/img3.jpg');
}

